stages:
  - compile
  - test

image: gitlab-registry.cern.ch/lforthom/custom_ci_worker:cc7

compile:
  stage: compile
  before_script:
    - mkdir build
    - cd build
  script:
    - cmake ..
    - make -j 4
  artifacts:
    paths:
      - build/

# define all tests

test_cepgen:
  stage: test
  dependencies:
    - compile
  before_script:
    - cd build
  script:
    - make -j 4 cepgen
    - ./cepgen Cards/lpair_cfg.py
    - ./cepgen Cards/legacy/lpair.card
  when: on_success
  allow_failure: false

test_integrator:
  stage: test
  dependencies:
    - compile
  before_script:
    - cd build
  script:
    - make test_integrator
    - test/test_integrator -i vegas
    - test/test_integrator -i miser
  when: on_success
  allow_failure: false

test_cross_sections:
  stage: test
  dependencies:
    - compile
  before_script:
    - cd build
  script:
    - make test_physics_processes
    - test/test_physics_processes -i vegas
    - test/test_physics_processes -i miser
  when: on_success
  allow_failure: true

test_function_parser:
  stage: test
  dependencies:
    - compile
  before_script:
    - cd build
  script:
    - make test_function_parser test_function_parser_rootcomp
    - test/test_function_parser
    - test/test_function_parser_rootcomp
  when: on_success
  allow_failure: false

