stages:
  - compile
  - test
  - run

#######################################

.build_template: &build_definition
  stage: compile
  before_script:
    - mkdir build
    - cd build
  script:
    - cmake -DCMAKE_BUILD_TESTS=1 ..
    - make -j 4
  artifacts:
    expire_in: 2 hrs
    paths:
      - build/

compile:slc6:
  image: gitlab-registry.cern.ch/lforthom/custom_ci_worker:slc6
  <<: *build_definition

compile:cc7:
  image: gitlab-registry.cern.ch/lforthom/custom_ci_worker:cc7
  <<: *build_definition

#######################################
# define all tests
#######################################

.test_template: &test_definition
  stage: test
  script:
    - cd build
    - make test
  when: on_success
  allow_failure: false

test:slc6:
  image: gitlab-registry.cern.ch/lforthom/custom_ci_worker:slc6
  dependencies: compile:slc6
  <<: *test_definition

test:cc7:
  image: gitlab-registry.cern.ch/lforthom/custom_ci_worker:cc7
  dependencies: compile:cc7
  <<: *test_definition

#######################################

.test_integrator_template: &test_integrator_definition
  stage: test
  script:
    - cd build
    - make test_integrator
    - test/test_integrator -i vegas
    - test/test_integrator -i miser
  when: on_success
  allow_failure: false

test_integrator:slc6:
  image: gitlab-registry.cern.ch/lforthom/custom_ci_worker:slc6
  dependencies: compile:slc6
  <<: *test_integrator_definition

test_integrator:cc7:
  image: gitlab-registry.cern.ch/lforthom/custom_ci_worker:cc7
  dependencies: compile:cc7
  <<: *test_integrator_definition

#######################################

.test_cross_sections_template: &test_cross_sections_definition
  stage: test
  script:
    - cd build
    - make test_physics_processes
    - test/test_physics_processes -i vegas
    - test/test_physics_processes -i miser
  when: on_success
  allow_failure: true

test_cross_sections:slc6:
  image: gitlab-registry.cern.ch/lforthom/custom_ci_worker:slc6
  dependencies: compile:slc6
  <<: *test_cross_sections_definition

test_cross_sections:cc7:
  image: gitlab-registry.cern.ch/lforthom/custom_ci_worker:cc7
  dependencies: compile:cc7
  <<: *test_cross_sections_definition

#######################################

.test_function_parser_template: &test_function_parser_definition
  stage: test
  script:
    - cd build
    - make test_function_parser test_function_parser_rootcomp
    - test/test_function_parser
    - test/test_function_parser_rootcomp
  when: on_success
  allow_failure: false

test_function_parser:slc6:
  image: gitlab-registry.cern.ch/lforthom/custom_ci_worker:slc6
  dependencies: compile:slc6
  <<: *test_function_parser_definition

test_function_parser:cc7:
  image: gitlab-registry.cern.ch/lforthom/custom_ci_worker:cc7
  dependencies: compile:cc7
  <<: *test_function_parser_definition

#######################################

.run_cepgen_template: &run_cepgen_definition
  stage: run
  script:
    - cd build
    - make -j 4 cepgen
    - ./cepgen Cards/lpair_cfg.py
    - ./cepgen Cards/legacy/lpair.card
  when: on_success
  allow_failure: false

run_cepgen:slc6:
  image: gitlab-registry.cern.ch/lforthom/custom_ci_worker:slc6
  dependencies: compile:slc6
  <<: *run_cepgen_definition

run_cepgen:cc7:
  image: gitlab-registry.cern.ch/lforthom/custom_ci_worker:cc7
  dependencies: compile:cc7
  <<: *run_cepgen_definition

