stages:
  - compile
  - deploy
  - run
  - test

#######################################
# define all build, tests, and
# executables recipes as templates
#######################################

.build_template: &build_definition
  stage: compile
  before_script:
    - source scl_source enable devtoolset-7 || echo ignoring exit code so CI does not bomb when it should not > /dev/null
    - gcc --version
    - cmake3 --version || cmake --version
    - mkdir build
    - cd build
  script:
    - cmake3 -DCMAKE_BUILD_TESTS=1 -DCMAKE_BUILD_CARD_CONV=1 .. || cmake -DCMAKE_BUILD_TESTS=1 -DCMAKE_BUILD_CARD_CONV=1 ..
    - make -j 8
  artifacts:
    expire_in: 2 hrs
    paths:
      - build/

.build_cvmfs_template: &build_cvmfs_definition
  stage: compile
  tags:
    - cvmfs
  before_script:
    - source source-lxplus.sh
    - gcc --version
    - cmake3 --version || cmake --version
    - mkdir build
    - cd build
  script:
    - cmake3 -DCMAKE_BUILD_TESTS=1 -DCMAKE_BUILD_CARD_CONV=1 .. || cmake -DCMAKE_BUILD_TESTS=1 -DCMAKE_BUILD_CARD_CONV=1 ..
    - make -j 8
  artifacts:
    expire_in: 2 hrs
    paths:
      - build/

.package_template: &package_definition
  stage: deploy
  script:
    - cd build
    - echo "Starting the packaging"
    - make package -j 8
  when: on_success
  allow_failure: false
  artifacts:
    paths:
      - build/*.rpm
      - build/*.deb

.run_cepgen_template: &run_cepgen_definition
  stage: run
  script:
    - cd build
    - export LD_LIBRARY_PATH=.:$LD_LIBRARY_PATH
    - ls
    - echo "Modules dump"
    - ./cepgen -l
    - echo "Python card test"
    - ./cepgen Cards/lpair_cfg.py -n 10000
    #- echo "LPAIR card test"
    #- ./cepgen-cards-converter Cards/lpair_cfg.py lpair.card
    #- ./cepgen lpair.card -n 10000
  when: on_success
  allow_failure: false

.test_template: &test_definition
  stage: test
  script:
    - cd build
    - export LD_LIBRARY_PATH=.:$LD_LIBRARY_PATH
    - ctest --output-on-failure
  when: on_success
  allow_failure: false

.test_function_parser_template: &test_function_parser_definition
  stage: test
  script:
    - cd build
    - export LD_LIBRARY_PATH=.:$LD_LIBRARY_PATH
    - test/test_function_parser
    - test/test_function_parser_rootcomp -d
  when: on_success
  allow_failure: true
  artifacts:
    paths:
      - build/test_graph.pdf

.test_integrator_template: &test_integrator_definition
  stage: test
  script:
    - cd build
    - export LD_LIBRARY_PATH=.:$LD_LIBRARY_PATH
    - test/test_integrator -a # test all integrators
  when: on_success
  allow_failure: true

.test_cross_sections_template: &test_cross_sections_definition
  stage: test
  script:
    - cd build
    - export LD_LIBRARY_PATH=.:$LD_LIBRARY_PATH
    - echo "VEGAS test"
    - test/test_physics_processes -i Vegas -q --cfg test/test_processes.cfg
    - echo "MISER test"
    - test/test_physics_processes -i MISER -q --cfg test/test_processes.cfg
  when: on_success
  allow_failure: true

#######################################
# CS8 jobs
#######################################

compile:centos8:
  image: gitlab-registry.cern.ch/lforthom/custom_ci_worker:centos8
  <<: *build_definition

run_cepgen:centos8:
  image: gitlab-registry.cern.ch/lforthom/custom_ci_worker:centos8
  dependencies: ["compile:centos8"]
  needs: ["compile:centos8"]
  <<: *run_cepgen_definition

package:centos8:
  image: gitlab-registry.cern.ch/lforthom/custom_ci_worker:centos8
  dependencies: ["compile:centos8"]
  needs: ["compile:centos8"]
  <<: *package_definition

test:centos8:
  image: gitlab-registry.cern.ch/lforthom/custom_ci_worker:centos8
  dependencies: ["compile:centos8"]
  needs: ["compile:centos8"]
  <<: *test_definition

test_function_parser:centos8:
  image: gitlab-registry.cern.ch/lforthom/custom_ci_worker:centos8
  dependencies: ["compile:centos8"]
  needs: ["compile:centos8"]
  <<: *test_function_parser_definition

test_integrator:centos8:
  image: gitlab-registry.cern.ch/lforthom/custom_ci_worker:centos8
  dependencies: ["compile:centos8"]
  needs: ["compile:centos8"]
  <<: *test_integrator_definition

test_cross_sections:centos8:
  image: gitlab-registry.cern.ch/lforthom/custom_ci_worker:centos8
  dependencies: ["compile:centos8"]
  needs: ["compile:centos8"]
  <<: *test_cross_sections_definition

test_function_parser:centos8:
  image: gitlab-registry.cern.ch/lforthom/custom_ci_worker:centos8
  dependencies: ["compile:centos8"]
  needs: ["compile:centos8"]
  <<: *test_function_parser_definition

#######################################
# CC7 jobs
#######################################

compile:cc7:
  image: gitlab-registry.cern.ch/lforthom/custom_ci_worker:cc7
  <<: *build_definition

run_cepgen:cc7:
  image: gitlab-registry.cern.ch/lforthom/custom_ci_worker:cc7
  dependencies: ["compile:cc7"]
  needs: ["compile:cc7"]
  <<: *run_cepgen_definition

package:cc7:
  image: gitlab-registry.cern.ch/lforthom/custom_ci_worker:cc7
  dependencies: ["compile:cc7"]
  needs: ["compile:cc7"]
  <<: *package_definition

test:cc7:
  image: gitlab-registry.cern.ch/lforthom/custom_ci_worker:cc7
  dependencies: ["compile:cc7"]
  needs: ["compile:cc7"]
  <<: *test_definition

test_function_parser:cc7:
  image: gitlab-registry.cern.ch/lforthom/custom_ci_worker:cc7
  dependencies: ["compile:cc7"]
  needs: ["compile:cc7"]
  <<: *test_function_parser_definition

test_integrator:cc7:
  image: gitlab-registry.cern.ch/lforthom/custom_ci_worker:cc7
  dependencies: ["compile:cc7"]
  needs: ["compile:cc7"]
  <<: *test_integrator_definition

test_cross_sections:cc7:
  image: gitlab-registry.cern.ch/lforthom/custom_ci_worker:cc7
  dependencies: ["compile:cc7"]
  needs: ["compile:cc7"]
  <<: *test_cross_sections_definition

test_function_parser:cc7:
  image: gitlab-registry.cern.ch/lforthom/custom_ci_worker:cc7
  dependencies: ["compile:cc7"]
  needs: ["compile:cc7"]
  <<: *test_function_parser_definition

#######################################
# CC7 jobs (with CVMFS support)
#######################################

compile:cc7-cvmfs:
  tags:
    - cvmfs
  image: gitlab-registry.cern.ch/lforthom/custom_ci_worker:cc7
  allow_failure: true
  <<: *build_cvmfs_definition

run_cepgen:cc7-cvmfs:
  tags:
    - cvmfs
  image: gitlab-registry.cern.ch/lforthom/custom_ci_worker:cc7
  dependencies: ["compile:cc7-cvmfs"]
  needs: ["compile:cc7-cvmfs"]
  allow_failure: true
  <<: *run_cepgen_definition

package:cc7-cvmfs:
  tags:
    - cvmfs
  image: gitlab-registry.cern.ch/lforthom/custom_ci_worker:cc7
  dependencies: ["compile:cc7-cvmfs"]
  needs: ["compile:cc7-cvmfs"]
  allow_failure: true
  <<: *package_definition

test:cc7-cvmfs:
  tags:
    - cvmfs
  image: gitlab-registry.cern.ch/lforthom/custom_ci_worker:cc7
  dependencies: ["compile:cc7-cvmfs"]
  needs: ["compile:cc7-cvmfs"]
  allow_failure: true
  <<: *test_definition

test_function_parser:cc7-cvmfs:
  tags:
    - cvmfs
  image: gitlab-registry.cern.ch/lforthom/custom_ci_worker:cc7
  dependencies: ["compile:cc7-cvmfs"]
  needs: ["compile:cc7-cvmfs"]
  allow_failure: true
  <<: *test_function_parser_definition

test_integrator:cc7-cvmfs:
  tags:
    - cvmfs
  image: gitlab-registry.cern.ch/lforthom/custom_ci_worker:cc7
  dependencies: ["compile:cc7-cvmfs"]
  needs: ["compile:cc7-cvmfs"]
  allow_failure: true
  <<: *test_integrator_definition

test_cross_sections:cc7-cvmfs:
  tags:
    - cvmfs
  image: gitlab-registry.cern.ch/lforthom/custom_ci_worker:cc7
  dependencies: ["compile:cc7-cvmfs"]
  needs: ["compile:cc7-cvmfs"]
  allow_failure: true
  <<: *test_cross_sections_definition

test_function_parser:cc7-cvmfs:
  tags:
    - cvmfs
  image: gitlab-registry.cern.ch/lforthom/custom_ci_worker:cc7
  dependencies: ["compile:cc7-cvmfs"]
  needs: ["compile:cc7-cvmfs"]
  allow_failure: true
  <<: *test_function_parser_definition

#######################################
# Fedora 32 jobs
#######################################

compile:f32:
  image: laufor/ci-images:cepgen-fedora32
  <<: *build_definition

package:f32:
  image: laufor/ci-images:cepgen-fedora32
  dependencies: ["compile:f32"]
  needs: ["compile:f32"]
  <<: *package_definition

run_cepgen:f32:
  image: laufor/ci-images:cepgen-fedora32
  dependencies: ["compile:f32"]
  needs: ["compile:f32"]
  <<: *run_cepgen_definition

test:f32:
  image: laufor/ci-images:cepgen-fedora32
  dependencies: ["compile:f32"]
  needs: ["compile:f32"]
  <<: *test_definition

test_function_parser:f32:
  image: laufor/ci-images:cepgen-fedora32
  dependencies: ["compile:f32"]
  needs: ["compile:f32"]
  <<: *test_function_parser_definition

test_integrator:f32:
  image: laufor/ci-images:cepgen-fedora32
  dependencies: ["compile:f32"]
  needs: ["compile:f32"]
  <<: *test_integrator_definition

test_cross_sections:f32:
  image: laufor/ci-images:cepgen-fedora32
  dependencies: ["compile:f32"]
  needs: ["compile:f32"]
  <<: *test_cross_sections_definition

test_function_parser:f32:
  image: laufor/ci-images:cepgen-fedora32
  dependencies: ["compile:f32"]
  needs: ["compile:f32"]
  <<: *test_function_parser_definition

#######################################
# Fedora 33 jobs
#######################################

compile:f33:
  image: laufor/ci-images:cepgen-fedora33
  <<: *build_definition

package:f33:
  image: laufor/ci-images:cepgen-fedora33
  dependencies: ["compile:f33"]
  needs: ["compile:f33"]
  <<: *package_definition

run_cepgen:f33:
  image: laufor/ci-images:cepgen-fedora33
  dependencies: ["compile:f33"]
  needs: ["compile:f33"]
  <<: *run_cepgen_definition

test:f33:
  image: laufor/ci-images:cepgen-fedora33
  dependencies: ["compile:f33"]
  needs: ["compile:f33"]
  <<: *test_definition

test_function_parser:f33:
  image: laufor/ci-images:cepgen-fedora33
  dependencies: ["compile:f33"]
  needs: ["compile:f33"]
  <<: *test_function_parser_definition

test_integrator:f33:
  image: laufor/ci-images:cepgen-fedora33
  dependencies: ["compile:f33"]
  needs: ["compile:f33"]
  <<: *test_integrator_definition

test_cross_sections:f33:
  image: laufor/ci-images:cepgen-fedora33
  dependencies: ["compile:f33"]
  needs: ["compile:f33"]
  <<: *test_cross_sections_definition

test_function_parser:f33:
  image: laufor/ci-images:cepgen-fedora33
  dependencies: ["compile:f33"]
  needs: ["compile:f33"]
  <<: *test_function_parser_definition

#######################################
# Ubuntu Bionic (18.04) jobs
#######################################

compile:ubuntu_bionic:
  image: laufor/ci-images:cepgen-ubuntu18
  <<: *build_definition

package:ubuntu_bionic:
  image: laufor/ci-images:cepgen-ubuntu18
  dependencies: ["compile:ubuntu_bionic"]
  needs: ["compile:ubuntu_bionic"]
  <<: *package_definition

run_cepgen:ubuntu_bionic:
  image: laufor/ci-images:cepgen-ubuntu18
  dependencies: ["compile:ubuntu_bionic"]
  needs: ["compile:ubuntu_bionic"]
  <<: *run_cepgen_definition

test:ubuntu_bionic:
  image: laufor/ci-images:cepgen-ubuntu18
  dependencies: ["compile:ubuntu_bionic"]
  needs: ["compile:ubuntu_bionic"]
  <<: *test_definition

test_function_parser:ubuntu_bionic:
  image: laufor/ci-images:cepgen-ubuntu18
  dependencies: ["compile:ubuntu_bionic"]
  needs: ["compile:ubuntu_bionic"]
  <<: *test_function_parser_definition

test_integrator:ubuntu_bionic:
  image: laufor/ci-images:cepgen-ubuntu18
  dependencies: ["compile:ubuntu_bionic"]
  needs: ["compile:ubuntu_bionic"]
  <<: *test_integrator_definition

test_cross_sections:ubuntu_bionic:
  image: laufor/ci-images:cepgen-ubuntu18
  dependencies: ["compile:ubuntu_bionic"]
  needs: ["compile:ubuntu_bionic"]
  <<: *test_cross_sections_definition

test_function_parser:ubuntu_bionic:
  image: laufor/ci-images:cepgen-ubuntu18
  dependencies: ["compile:ubuntu_bionic"]
  needs: ["compile:ubuntu_bionic"]
  <<: *test_function_parser_definition

#######################################
# Ubuntu Focal (20.04) jobs
#######################################

compile:ubuntu_focal:
  image: laufor/ci-images:cepgen-ubuntu20
  <<: *build_definition

package:ubuntu_focal:
  image: laufor/ci-images:cepgen-ubuntu20
  dependencies: ["compile:ubuntu_focal"]
  needs: ["compile:ubuntu_focal"]
  <<: *package_definition

run_cepgen:ubuntu_focal:
  image: laufor/ci-images:cepgen-ubuntu20
  dependencies: ["compile:ubuntu_focal"]
  needs: ["compile:ubuntu_focal"]
  <<: *run_cepgen_definition

test:ubuntu_focal:
  image: laufor/ci-images:cepgen-ubuntu20
  dependencies: ["compile:ubuntu_focal"]
  needs: ["compile:ubuntu_focal"]
  <<: *test_definition

test_function_parser:ubuntu_focal:
  image: laufor/ci-images:cepgen-ubuntu20
  dependencies: ["compile:ubuntu_focal"]
  needs: ["compile:ubuntu_focal"]
  <<: *test_function_parser_definition

test_integrator:ubuntu_focal:
  image: laufor/ci-images:cepgen-ubuntu20
  dependencies: ["compile:ubuntu_focal"]
  needs: ["compile:ubuntu_focal"]
  <<: *test_integrator_definition

test_cross_sections:ubuntu_focal:
  image: laufor/ci-images:cepgen-ubuntu20
  dependencies: ["compile:ubuntu_focal"]
  needs: ["compile:ubuntu_focal"]
  <<: *test_cross_sections_definition

test_function_parser:ubuntu_focal:
  image: laufor/ci-images:cepgen-ubuntu20
  dependencies: ["compile:ubuntu_focal"]
  needs: ["compile:ubuntu_focal"]
  <<: *test_function_parser_definition

