stages:
  - compile
#  - test

compile:
  stage: compile
  before_script:
    - yum install -y gsl gsl-devel libgfortran gcc-gfortran
    - mkdir build
    - cd build
  script:
    - cmake -D CMAKE_MODULE_PATH=$PWD ..
    - make -j 4

#test:
#  stage: test
#  script:
#    - make test/probe_physics_processes
#    - test/probe_physics_processes lpair elastic
