autodocsumm>=0.2.9
Babel>=2.10.3
breathe>=4.34.0
changelog>=0.5.8
doxypypy
furo>=2022.12.7
myst-parser
Sphinx>=5.3.0
sphinx-basic-ng>=1.0.0b1
sphinx-git>=11.0.0
sphinx-math-dollar>=1.2.1
sphinx-prompt>=1.5.0
sphinx-tabs>=3.4.1
sphinx-togglebutton
sphinx-toolbox>=3.2.0
sphinx_autodoc_typehints>=1.20.1
sphinx_github_changelog
sphinxcontrib-bibtex>=2.5.0
sphinxcontrib-devhelp>=1.0.2
sphinxcontrib-htmlhelp>=2.0.0
sphinxcontrib-jsmath>=1.0.1
sphinxcontrib-serializinghtml>=1.1.5
