body, table, div, p, dl { font: 400 12px/18px serif; }
p.reference, p.definition { font: 400 12px/18px serif; }
.title { font: 800 125% serif; }
a { font: 200 100% serif; }
a:hover { text-decoration: underline; }
.icon { font: bold 90% serif; }
table.directory { font: 400 120% serif; }
.navpath li.navelem a { font-family: serif; }
#projectname
{
	font: 500 300% serif;
  font-variant: small-caps;
}
#projectbrief { font: 110% serif; }
#projectnumber { font: 50% serif; }
div.toc li { font: 100% serif; }
div.toc h3 { font: serif; }
#powerTip div { font: 110% serif; }

