name: Build

on:
  push:
    branches: [master, ci-rpm_build]
  pull_request:
    branches: master
  workflow_call:
    inputs:
      config-path:
        required: true
        type: string
    secrets:
      token:
        required: true

env:
  BUILD_TYPE: Release  # Release, Debug, RelWithDebInfo, etc
  CEPGEN_PATH: /Package/build
  CG_CI: True

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: 'laufor/ci-images:cepgen-fedora39'
      options: -v ${{ github.workspace }}:/Package
    steps:
    - uses: actions/checkout@v4
    - uses: seanmiddleditch/gha-setup-ninja@master

    - name: CMake configuration
      run: |
        git config --global --add safe.directory /Package
        cmake -GNinja -B ${{env.CEPGEN_PATH}} -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DCMAKE_BUILD_TESTS=ON

    - name: Build
      run: cmake --build ${{env.CEPGEN_PATH}}

    - uses: actions/upload-artifact@master
      with:
        name: build-env
        path: /Package

  test:
    needs: build
    runs-on: ubuntu-latest
    container:
      image: 'laufor/ci-images:cepgen-fedora39'
      options: -v ${{ github.workspace }}:/Package
    steps:
    - uses: actions/checkout@v4
    - uses: actions/download-artifact@master
      with:
        name: build-env
        path: /Package
    - uses: seanmiddleditch/gha-setup-ninja@master
    - name: Test
      working-directory: ${{env.CEPGEN_PATH}}
      run: |
        echo "PYTHONPATH=${{env.CEPGEN_PATH}}:$PYTHONPATH" >> $GITHUB_ENV
        ctest -C ${{env.BUILD_TYPE}} -LE "unstable" --output-on-failure

  package:
    needs: build
    runs-on: ubuntu-latest
    container:
      image: 'laufor/ci-images:cepgen-fedora39'
      options: -v ${{ github.workspace }}:/Package
    steps:
    - uses: actions/checkout@v4
    - uses: actions/download-artifact@master
      with:
        name: build-env
        path: /Package
    - uses: seanmiddleditch/gha-setup-ninja@master
    - name: Package
      run: cmake --build ${{env.CEPGEN_PATH}} --target package
