name: Build

on:
  push:
    branches: master
    tags:
  pull_request:
    branches: master
  workflow_call:

env:
  BUILD_TYPE: Release  # Release, Debug, RelWithDebInfo, etc
  CEPGEN_PATH: /Package
  CG_CI: True
  MG5_aMC_VERSION: MG5_aMC_v3.5.3

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: 'laufor/ci-images:cepgen-fedora39'
      options: -v ${{ github.workspace }}:/Package
    steps:
    - uses: actions/checkout@v4
    - uses: seanmiddleditch/gha-setup-ninja@master

    - name: 'MadGraph fetch'
      uses: wei/wget@v1
      with:
        args: -O mg.tar.gz https://launchpad.net/mg5amcnlo/3.0/3.5.x/+download/${{ env.MG5_aMC_VERSION }}.tar.gz
    - name: 'MadGraph install'
      run: |
        tar xvfz mg.tar.gz
        mv `ls -d MG5*/` ${{ env.MG5_aMC_VERSION }}
        rm -f mg.tar.gz

    - name: 'CMake configuration'
      run: |
        git config --global --add safe.directory /Package
        cmake -GNinja -B ${{ env.CEPGEN_PATH }} \
              -DCMAKE_BUILD_TYPE=${{ env.BUILD_TYPE }} \
              -DCMAKE_BUILD_TESTS=ON \
              -DCMAKE_BUILD_FOAM=ON \
              -DMADGRAPH_BIN=/Package/${{ env.MG5_aMC_VERSION }}/bin/mg5_aMC

    - name: 'Build environment'
      run: |
        cmake --build ${{ env.CEPGEN_PATH }}
        cmake --build ${{ env.CEPGEN_PATH }} -- package
    - name: 'Compress environment'
      run: tar -cvf environment.tar /Package

    - name: 'Upload environment artifact'
      uses: actions/upload-artifact@v4
      with:
        name: build-env
        path: environment.tar

    - name: 'Upload packages artifacts'
      uses: actions/upload-artifact@v4
      with:
        name: package-env
        path: /Package/cepgen-*.rpm

  test:
    needs: build
    runs-on: ubuntu-latest
    container:
      image: 'laufor/ci-images:cepgen-fedora39'
      options: -v ${{ github.workspace }}:/Package
    steps:
    - uses: actions/checkout@v4
    - name: 'Download artifacts'
      uses: actions/download-artifact@v4
      with:
        name: build-env
    - name: 'Uncompress environment'
      run: tar -xvf environment.tar -C /
    - uses: seanmiddleditch/gha-setup-ninja@master
    - name: 'Test CepGen'
      working-directory: ${{ env.CEPGEN_PATH }}
      run: |
        echo "PYTHONPATH=${{ env.CEPGEN_PATH }}:$PYTHONPATH" >> $GITHUB_ENV
        ctest -C ${{ env.BUILD_TYPE }} -LE "unstable" -E "benchmark_*" --output-on-failure
    - name: 'Compress environment'
      run: tar -cvf test-environment.tar /Package/*.html
    - name: 'Upload artifacts'
      uses: actions/upload-artifact@v4
      with:
        name: test-env
        path: test-environment.tar

  benchmark:
    needs: build
    runs-on: ubuntu-latest
    container:
      image: 'laufor/ci-images:cepgen-fedora39'
      options: -v ${{ github.workspace }}:/Package
    steps:
    - uses: actions/checkout@v4
    - name: 'Download artifacts'
      uses: actions/download-artifact@v4
      with:
        name: build-env
    - name: 'Uncompress environment'
      run: tar -xvf environment.tar -C /
    - uses: seanmiddleditch/gha-setup-ninja@master
    - name: 'Benchmark CepGen modules'
      working-directory: ${{ env.CEPGEN_PATH }}
      run: |
        echo "PYTHONPATH=${{ env.CEPGEN_PATH }}:$PYTHONPATH" >> $GITHUB_ENV
        ctest -C ${{ env.BUILD_TYPE }} -LE "unstable" -R "benchmark_*" --output-on-failure
    - name: 'Compress environment'
      run: tar -cvf benchmark-environment.tar /Package/*.html
    - name: 'Upload artifacts'
      uses: actions/upload-artifact@v4
      with:
        name: benchmark-env
        path: benchmark-environment.tar
