name: documentation
on:
  push:
    branches: doc-sphinx
env:
  BUILD_TYPE: Release
  CEPGEN_PATH: /Package/build
jobs:
  doc:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    container:
      image: 'laufor/ci-images:cepgen-fedora39'
      options: -v ${{ github.workspace }}:/Package
    steps:
      - uses: actions/checkout@v3
      - uses: seanmiddleditch/gha-setup-ninja@master
      - name: Install SSH Key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          known_hosts: 'just-a-placeholder-so-we-dont-get-errors'
      - name: Add known hosts
        run: mkdir -p ~/.ssh && ssh-keyscan -p 222 -H login.hepforge.org >> ~/.ssh/known_hosts
      - name: Python requirements
        run: |
          sudo pip install -r requirements.txt
      - name: CMake configuration
        run: |
          git config --global --add safe.directory /Package
          cmake3 -GNinja -B ${{env.CEPGEN_PATH}} -DCMAKE_BUILD_UTILS=ON -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DCMAKE_CXX_FLAGS=" -fdiagnostics-color=always"
      - name: Generate cepgen documentation
        working-directory: ${{env.CEPGEN_PATH}}
        run: |
          cmake3 --build ${{env.CEPGEN_PATH}}
          cmake3 --build ${{env.CEPGEN_PATH}} -- cepgenDocGenerator
          bin/cepgenDocGenerator -o /Package/doc/.raw_modules.html -e
          cmake3 --build ${{env.CEPGEN_PATH}} -- Sphinx
      - name: Upload documentation
        uses: burnett01/rsync-deployments@5.2.1
        with:
          switches: -arvz --no-perms --no-owner --no-group --delete -O -q
          path: build/doc/output_html/
          remote_path: ~/cepgen/public_html/
          remote_host: login.hepforge.org
          remote_port: 222
          remote_user: ${{ secrets.SSH_USER }}
          remote_key: ${{ secrets.SSH_PRIVATE_KEY }}
