name: documentation
on:
  push:
    branches: doc-sphinx
jobs:
  doc:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    container:
      image: 'laufor/ci-images:cepgen-fedora37'
      options: -v ${{ github.workspace }}:/Package
    steps:
      - uses: actions/checkout@v3
      - name: Install SSH Key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          known_hosts: 'just-a-placeholder-so-we-dont-get-errors'
      - name: Add known hosts
        run: mkdir -p ~/.ssh && ssh-keyscan -p 222 -H login.hepforge.org >> ~/.ssh/known_hosts
      - name: CMake configuration
        run: |
          cd /Package
          mkdir -p build/ install/
          cd build
          cmake3 -DCMAKE_BUILD_TYPE=Release -DCMAKE_CXX_FLAGS=" -fdiagnostics-color=always" ..
      - name: Generate cepgen documentation
        run: |
          cd /Package/build
          make -j 8 bin/cepgenDocGenerator && ./bin/cepgenDocGenerator -o ../doc/.raw_modules.html -e
          make Sphinx
      - name: Upload documentation
        run: rsync -arvz -e 'ssh -p 222' --delete doc/output_html/ ${{ secrets.SSH_USER }}@login.hepforge.org:~/cepgen/public_html/
