name: linux
on:
  pull_request:
  push:
    branches: master
env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release
  INSTALL_PATH: /Package/install
  LD_LIBRARY_PATH: /Package/install/lib64:$LD_LIBRARY_PATH
jobs:
  test-cc7:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        CI_IMAGE: ['laufor/ci-images:cepgen-cc7', 'laufor/ci-images:cepgen-fedora33']
    container:
      image: ${{ matrix.CI_IMAGE }}
      #volumes:
        #- /cvmfs:/cvmfs:shared
      options: -v ${{ github.workspace }}:/Package
    steps:
      - uses: actions/checkout@v3
      #- uses: cvmfs-contrib/github-action-cvmfs@v2
      - name: CMake configuration
        run: |
          cd /Package
          echo "${{ env.INSTALL_PATH }}/bin" >> $GITHUB_PATH
          source scl_source enable devtoolset-8 || echo ignoring exit code so CI does not bomb when it should not > /dev/null
          mkdir -p build/ install/
          cd build
          cmake3 -DCMAKE_INSTALL_PREFIX=${{ env.INSTALL_PATH }} -DCMAKE_BUILD_TYPE=${{ env.BUILD_TYPE }} -DCMAKE_CXX_FLAGS=" -fdiagnostics-color=always" -GNinja ..
      - name: Install
        run: |
          cd /Package
          cd build
          ninja -k0 install
      - name: Testing cepgen executable
        run: |
          cd /Package
          source scl_source enable devtoolset-8 || echo ignoring exit code so CI does not bomb when it should not > /dev/null
          cd build
          #valgrind --show-leak-kinds=all --leak-check=full ./cepgen Cards/lpair_cfg.py
          ./cepgen Cards/lpair_cfg.py
      - name: Generate cepgen package
        run: |
          cd /Package
          cd build
          ninja -k0 package
      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: package
          path: ${{ github.workspace }}/build/*.rpm
      - name: Testing cepgen executable (packaged)
        continue-on-error: ${{ matrix.CI_IMAGE == 'laufor/ci-images:cepgen-cc7' }}
        run: |
          cd /Package
          source scl_source enable devtoolset-8 || echo ignoring exit code so CI does not bomb when it should not > /dev/null
          yum install build/*.rpm
          cepgen Cards/lpair_cfg.py
      - name: Testing CI recipes
        run: |
          cd /Package
          source scl_source enable devtoolset-8 || echo ignoring exit code so CI does not bomb when it should not > /dev/null
          cd build
          ninja -k0 && ctest --output-on-failure
